<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WALL-E CAM </title>
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-slider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Carousel.css" />
    <link rel="stylesheet" href="static/css/footer.css" />
    <link rel="stylesheet" href="static/css/bootstrap-toggle.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>


    <div class="container">
        <div class="row row-fluid">
            <div class="col-md-12 col-xs-12">
                <img src="static/media/WALLE_logo.jpeg" class="img-responsive">
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-fluid">
                <div class="embed-responsive embed-responsive-4by3">
                    <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="yes" width="640" height="480" target="http://0.0.0.0:8080/" id="vlc"></embed>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <H1><small>Control Panel for WALL-E</small></H1>
            </div>
            <div class="col-xs-4 text-center">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" name="checkRemote" onclick="checkRemote(this)">Allow Remote Control</label>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="-90" data-slider-max="90" data-slider-step="1" data-slider-value="0" />
                <p>Pan</p>
            </div>
            <div class="col-xs-4 text-center">
                <input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="-90" data-slider-max="90" data-slider-step="1" data-slider-value="0" />
                <p>Tilt</p>
            </div>
            <div class="col-xs-4 text-center">
                <button type="button" class="btn btn-primary" onclick="Button_onclick('positionButton')">Update WALL-E Position</button>
            </div>
            <div class="col-xs-4 text-center">
                <p> </p>
            </div>
            <div class="col-xs-4 text-center">
                <H1><small>Stream Functionality</small></H1>
            </div>
            <div class="col-xs-4 text-center">
                <button type="button" class="btn btn-primary" onclick="Button_onclick('screenshotButton')">
                    <span class="glyphicon glyphicon-camera"></span> Take Screenshot
                </button>
            </div>
            <div class="col-xs-4 text-center">
                <h1>         </h1>
            </div>
            <div class="col-xs-4 text-center">
                <label class="checkbox-inline">
                    <input id="toggleStream"type="checkbox" checked data-toggle="toggle"> Turn ON/OFF the Stream
                </label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Album</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-sm-6" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul id="thumbnailContainer" class="hide-bullets">
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-0">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-1">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-2">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-3">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-4">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-5">
                            </a>
                        </li>
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-6">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-7">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-8">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-9">
                            </a>
                        </li>
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-10">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-11">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-12">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-13">
                            </a>
                        </li>
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-14">
                            </a>
                        </li>

                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-15">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0" id="slider0">
                                        </div>

                                        <div class="item" data-slide-number="1" id="slider1">
                                        </div>

                                        <div class="item" data-slide-number="2" id="slider2">
                                        </div>

                                        <div class="item" data-slide-number="3" id="slider3">
                                        </div>

                                        <div class="item" data-slide-number="4" id="slider4">
                                        </div>

                                        <div class="item" data-slide-number="5" id="slider5">
                                        </div>

                                        <div class="item" data-slide-number="6" id="slider6">
                                        </div>

                                        <div class="item" data-slide-number="7" id="slider7">
                                        </div>

                                        <div class="item" data-slide-number="8" id="slider8">
                                        </div>

                                        <div class="item" data-slide-number="9" id="slider9">
                                        </div>

                                        <div class="item" data-slide-number="10" id="slider10">
                                        </div>

                                        <div class="item" data-slide-number="11" id="slider11">
                                        </div>

                                        <div class="item" data-slide-number="12" id="slider12">
                                        </div>

                                        <div class="item" data-slide-number="13" id="slider13">
                                        </div>

                                        <div class="item" data-slide-number="14" id="slider14">
                                        </div>

                                        <div class="item" data-slide-number="15" id="slider15">
                                        </div>
                                    </div>
                                    <!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Slider-->
            </div>

        </div>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <p class="text-muted"> ICOM 4217 Final Project - Jose Abreu | Jean Rodriguez | Jose Martinez | Charlie Castro </p> 
        <p>Supervised by Class Coordinator : Carlos Bernal</p>
      </div>
    </footer>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Include the Sliders for the Web Page -->
    <script src="static/js/bootstrap-slider.min.js"></script>
    <!-- Include the toogle for the Web Page -->
    <script src="static/js/bootstrap-toggle.min.js"></script>
    <!-- Include the Carousel for the Web Page -->
    <script src="static/js/Carousel.js"></script>

    <script>
        var panAngle;
        var tiltAngle;
        
        
        
        
        
		window.onload = function(){
		
			refreshVLC(1);
		}
        
        
       

        $('#ex1').slider({
            formatter: function(value) {
                panAngle = value.toString();
                return 'Current value: ' + value;
            }
        });


        $('#ex2').slider({
            formatter: function(value) {

                tiltAngle = value.toString();
                return 'Current value: ' + value;
            }
        });
        
       

       function Button_onclick(msg){
	
				 var msgString = msg.toString();
				 
				if(msgString == "positionButton"){	$.ajax({ url: '/' + "positionButton "+ panAngle + " " + tiltAngle });}
				else if(msgString == "screenshotButton" ){$.ajax({ url: '/' + "screenshotButton" }); refreshVLC(1);}			
			}
	
	var imageCounter = 0;
	$.ajax({
		url: "/get_images",
		success: function(data){
			data = JSON.parse(data);
			for (var i in data) {
				if (data[i].indexOf('.jpg') !== -1) {
					$('#carousel-selector-'+imageCounter.toString()).append('<img src="static/media/'+ data[i] + '">');
					$('#slider'+imageCounter.toString()).append('<img src="static/media/'+ data[i] + '">');
					imageCounter++;
				}
				if (imageCounter >= 16) {
					break;
				}
			}
		}
	});
	

	  function checkRemote(checkbox){
		if(checkbox.checked){	$.ajax({ url: '/' + 'checkedRemote' });}
		else{		$.ajax({ url: '/' + 'notCheckedRemote' });}
		
		}

		function refreshVLC(delay) {
			var embed = document.getElementById("vlc");
			var embedParent = embed.parentNode;
			embedParent.removeChild(embed);
			embed.setAttribute("target", "http://"+window.location.hostname+":8080/");
			embed.src = "http://"+window.location.hostname+":8080/";
			setTimeout(function() { embedParent.appendChild(embed);}, delay);
		}
 $('#toggleStream').change( function () {
	
	
	var status = $('#toggleStream');
	var state = status["0"].checked; 
	var vlc = document.getElementById("vlc");
	var vlcAudio = vlc.audio;
	var embedParent = vlc.parentNode;
	
		if(state == false){
			refreshVLC(1);
			$.ajax({ url: '/' + "stopStream" });
		}else{
			$.ajax({ url: '/' + "startStream" });
			refreshVLC(3000);
		}	
  }) ;


    </script>
</body>

</html>
